/ this is hack, wait to improve
:javascript
  $('header').removeClass('alt');
=content_for :nav_title do
  =link_to 'Dashboard', '/dashboard'

%br/
.inner
  / row-1 user info
  #user-info.row
    / user vector
    =image_tag gravatar_url(@user.email, '200'),alt: 'head', class: "img-rounded col-md-3"
    / word info
    .col-md-9.col-sm-12.info
      @#{@user.username}
      %br/
      #{@user.email}
      %br/
      等級 #{current_user.level}
      -if current_user.level != 7
        =link_to '升級到'+(current_user.level+1).to_s+'級', '/dashboard/upgrade', class: "button special smaller"
      -else
        %span.badge.badge-success 頂級會員
      %br/
      .action-box
        =link_to '推薦碼', '#', id: 'referral-btn'
        %br/
        %span#referral-page.hidden
          - if Rails.env.development?
            %a{:href => "http://localhost:3000/dashboard/get_tutor?tutor_email=#{@user.email}"}
              http://localhost:3000/dashboard/get_tutor?tutor_email=#{@user.email}
          - elsif Rails.env.production?
            %a{:href => "http://bitcoinisgood.com/dashboard/get_tutor?tutor_email=#{@user.email}"}
              = "http://bitcoinisgood.com/dashboard/get_tutor?tutor_email=#{@user.email}"
          
    
  - if flash[:notice] || flash[:error]
    -if flash[:notice]
      .alert.alert-warning #{flash[:notice]}
    -else
      .alert.alert-warning #{flash[:error]}

  / transaction notice
  .inner.notice
    - @user.addresses.all.each do |adr|
      - if adr.status == 'waiting'
        .alert.alert-warning
          =link_to '尚有一筆%i元的交易付款中' % adr.twd_amount,transaction_path(adr)
      - elsif adr.status == 'pending'
        .alert.alert-warning
          =link_to '一筆%i元的交易確認中..' % adr.twd_amount,transaction_path(adr)
      - elsif adr.status == 'complete'
        -if adr.notice == true
          .alert.alert-warning
            =link_to '一筆%i元的交易完成！成功升級。' % adr.twd_amount, transaction_path(adr)
            -adr.notice = false
            -adr.save

  / cards row 1
  .row.cards
    / card 1 - BTC balance
    .card.card-style1
      .card-header
        比特幣
        %span.badge.badge-warning.float-right BTC
      .card-block
        %h1.card-number.card-text
          #{current_user.balance}
      .card-block
        %a.card-link{:href => "#"} 提領
    / card 2 - NTD balance
    .card.card-style1
      .card-header
        總資產
        %span.badge.badge-info.float-right TWD
      .card-block
        %h1.card-number.card-text #{(current_user.balance * @TWDbit).round}
      .card-block
        %i.fa.fa-btc
        1:#{@USDbit}美元(#{@TWDbit}台幣)
    / card 3
    .card.card-style1
      .card-header 學生人數
      .card-block
        %h1.card-number.card-text= @user.students.count
      .card-block
        =link_to '好友列表', '/dashboard/social'
  / cards row 2
  .row.cards
    .card.card-style2
      .card-header 每日收益圖
      .card-block
        = line_chart @weekly_data, label: "收入", curve: false, xtitle: "日期", ytitle: "收入"
    .card.card-style1
      .card-header 今日收入
      .card-block
        %h1.card-number.card-text 維修中
      .card-header 本月收入
      .card-block
        %h1.card-number.card-text 維修中
  / .row.cards
  /   .card.card-style1
  /     .card-header 排行榜
  /     .card-block



:javascript
  $('#referral-btn').click(function(){
    if($('#referral-page').hasClass('hidden')){
      $('#referral-page').removeClass('hidden')
    } else {
      $('#referral-page').addClass('hidden')
    };
  });
