
#dashboard.wrapper.style1.alt
	.inner
		%header.major
			%h2 Dashboard
email:
= current_user.email
%br/

username:
= current_user.username
%br/
line:
= current_user.line_id
%br/
level:
= current_user.level
%br/
balance:
= current_user.balance
