#upgrade-page.inner
	%h1 升級到#{@upgrade_level}級
	%b 須支付 #{@upgrade_level*50}元 給 #{@upgrade_level}級導師：#{@tutor.username} (#{@tutor.email})
	%br/
	%br/
	而你將獲得來自#{@upgrade_level}級學徒的教導金
	%br/	
	目前累積的#{@upgrade_level}級教導金：#{(@pool_money*@TWDbit).round}元
	%br/
	%br/
	=link_to '現在支付','/dashboard/upgrade_check', class: 'button'
