#user-edit.inner
  %h2
    Edit #{resource_name.to_s.humanize}
  = image_tag gravatar_url(@user.email, '100')
  更改大頭貼請至
  %a{:href => "https://gravatar.com"} Gravatar
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, required: true, autofocus: true, disabled: true, input_html: {class:'color-black'}, label: '電子信箱'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      = f.input :line_id, as: :string, label: 'Line ID'
      = f.input :username, as: :string, label: '名稱'
      = f.input :password, autocomplete: "off", hint: "若不需更改密碼，留空白即可", required: false, label: '密碼'
      = f.input :password_confirmation, required: false, label: '請再次輸入密碼'
      = f.input :current_password, hint: "請輸入密碼已確認更改", required: true,label: '當前密碼'
    .form-actions
      = f.button :submit, "Update"
  %h3 取消帳號
  %p
    不開心嗎? #{link_to "取消我的帳號", registration_path(resource_name), data: { confirm: "確定?" }, method: :delete}
  = link_to "上一頁", :back
